/target
tmp
**/*.rs.bk
Cargo.lock.bak
.DS_Store
.idea/
.vscode/
*.swp
node_modules

# Python
__pycache__/
*.py[cod]
*$py.class

# openspec workfiles
openspec*
!openspec/
!openspec/**
openspec/**/.DS_Store
opsx*
!/scripts/openspec
